
#welcome-section
{
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  height: 100vh;
  min-height: 55vh;
}
.btn{
  width: auto;
}
#contact h1{
  text-align: center;
}
#contact{
  text-align: center;
  border-radius: 10px;
  height: 500px;

}
#footer{
  background-color:black;
  color: white;

}
#footer a{
  text-decoration: none;
}
#margareth{
  height: 250px;
  width: 250px;
  float: right;

}
#edu{
  height: 250px;
  width: 250px;
  float: right;
}
#page{
  float: right;

}
#doc{
  float: right;

}

#projects{
  margin-top: 500px;
}
#contact{
  margin-top: 500px;
}
footer{
  margin-top: 500px;
}
